body {
    background-image: url('https://wwwimage-intl.pplusstatic.com/thumbnails/photos/w1920-q80/cbs_page_attribute/upsell_latam_hero1_weblandscape_2560x1280_051324_0.jpg');
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background: rgba(0, 0, 0, 0.9);
}


.card{
    background-color: #070f1a !important;
    color: #fff !important;
    border-radius: 8px;
}

#movie-form {
    background-color: #070f1a;
    color: #e0e0e0; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

#movie-form .form-control {
    background-color: #0d1b2e;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 4px;
}

#movie-form .form-control::placeholder {
    color: #999;
}

#movie-form .form-check-input {
    background-color: #444; 
    border-color: #555;
}

#movie-form .form-check-label {
    color: #e0e0e0; 
}

#movie-form button {
    border-radius: 4px;
    padding: 10px 20px;
    margin-right: 10px;
}

#movie-form button.btn-primary {
    background-color: #007bff; 
    border: none;
    color: #fff; 
}

#movie-form button.btn-primary:hover {
    background-color: #0056b3; 
}

#movie-form button.btn-danger {
    background-color: #dc3545; 
    border: none;
    color: #fff;
}

#movie-form button.btn-danger:hover {
    background-color: #c82333;
}