.navbar {
    background: rgba(0, 0, 0, 0.9);
}

.article-container {
    color: #e0e0e0;
    border-radius: 8px;
}
.article-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.article-content {
    padding: 20px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.9);
    color: #e0e0e0;
    border-radius: 8px;
}
.article-header {
    background: rgba(0, 0, 0, 0.9);
    color: #e0e0e0;
    border-radius: 8px;
}
.article-header h2 {
    font-size: 2rem;
    font-weight: 600;
    
}
.article-body {
    line-height: 1.6;
    border-radius: 8px;
}